awscli==1.32.35
boto3==1.34.35
botocore==1.34.35
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.4
cryptography==42.0.2
docutils==0.16
gitdb==4.0.11
GitPython==3.1.41
idna==3.6
jmespath==1.0.1
psycopg2==2.9.9
pyasn1==0.5.1
pycparser==2.21
pyOpenSSL==24.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.31.0
rsa==4.7.2
s3transfer==0.10.0
Send2Trash==1.8.2
six==1.16.0
smmap==5.0.1
tqdm==4.66.1
urllib3==2.0.7